.watchlist-container {
    display:  flex;
    position: absolute;
    top: 250px;
    right: 150px;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    height: 440px;
    width:15%
}
