.header{
    height: 100px;
    width: 90%;
    border: 3px solid red;
    margin-left: 80px; 
}

.dash__portfilioStats{
    height: 400px;
    width: 50%;
    border: 3px solid red;
    margin-left: 200px;
    margin-top: 150px;
}


.dash__watchlist-container{
    height: 800px;
    width: 300px;
    border: 3px solid red; 
    position: absolute;
    right: 200px;
    top:210px;

}


.dash__newsFeed{
    width: 65%;
    height:fit-content;
    position: absolute;
    top: 900px;
    border: 3px solid red; 
    left: 100px;

}
