

.dash__portfilioStats{
    height: 400px;
    width: 50%;
    border: 3px solid red;
    margin-left: 200px;
    margin-top: 150px;
}

.dash__newsFeed{
    width: 65%;
    height:fit-content;
    position: absolute;
    top: 900px;
    /* border: 3px solid red;  */
    left: 100px;

}

.news-feed__label{
    position:absolute;
    top:820px;
    left: 600px;

}

.jump-to-top{
    position:fixed;
    height: 60px;
    width:60px;
    right:0;
    border: 3px solid green;
    margin-top:240px;
    
}


.stats__header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 30px;
    align-items: center;
    height:70px;
    background-color: white;
}


.stats__balance{
    color:green;
    font-weight:bold;
}

.port__chart{
    border: 2px solid purple;
    height: 327px;
}
